#calculatorFormContainer {
    max-width: 60%;
}

#adminFormContainer {
    max-width: 60%;
}

#receiptFormContainer {
    max-width: 60%;
}

.save-button-long {
    width: 200px;
}

.logo {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #ffb700;
}